@page "/connections"
@inject IConnectionRepository ConnectionRepository
@inject AppState AppState

<div class="col-3 item-list">
    <h5 style="display: inline-block;">Connections</h5>
    <button class="btn btn-link" style="display: inline-block;" title="Add a connection" @onclick="AddConnection">
        <span class="oi oi-document"></span>
    </button>

    @if (!ExistingConnections.Any())
    {
        <p>No connections found.</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var connection in ExistingConnections)
            {
                <li class="list-group-item">
                    <a style="cursor: pointer; color: black;" @onclick="() => EditConnection(connection.Id)">@connection.Name</a>
                    <button class="btn btn-link" title="Delete connection" @onclick="async () => await DeleteConnectionAsync(connection.Id)">
                        <span class="oi oi-x"></span>
                    </button>
                </li>
            }
        </ul>
    }
</div>

<div class="col-7">
    <EditConnection></EditConnection>
</div>

@code {
    private ListConnectionsDto[] ExistingConnections = Array.Empty<ListConnectionsDto>();

    protected override async Task OnInitializedAsync()
    {
        await ReloadConnectionsAsync();

        AppState.ConnectionState.OnChange += async () =>
        {
            await ReloadConnectionsAsync();

            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };

        await base.OnInitializedAsync();
    }

    private async Task ReloadConnectionsAsync()
    {
        AppState.Alert.Hide();
        ExistingConnections = await ConnectionRepository.ListConnectionsAsync();
    }

    private async Task DeleteConnectionAsync(int connectionId)
    {
        await ConnectionRepository.DeleteAsync(connectionId);

        AppState.ConnectionState.ConnectionId = null;
        AppState.Alert.ShowSuccess("Connection removed successfully.");
    }

    private void AddConnection()
    {
        AppState.ConnectionState.ConnectionId = null;
    }

    private void EditConnection(int connectionId)
    {
        AppState.ConnectionState.ConnectionId = connectionId;
    }
}

<style>
    .item-list {
        height: 100vh;
        color: white;
        background-color: rgb(39 39 39);
    }
</style>
