@page "/connections"
@inject IConnectionRepository _connectionRepository

<h3>Connections</h3>

@if (!_connections.Any())
{
    <p>No connections found.</p>
}
else
{

}

@code {
    private ListConnectionsDto[] _connections = Array.Empty<ListConnectionsDto>();

    protected override async Task OnInitializedAsync()
    {
        _connections = await _connectionRepository.ListConnectionsAsync();

        await base.OnInitializedAsync();
    }
}
